body {
  font-family: Helvetica, sans-serif;
}
#container {
  text-align: center;
  margin: 20px auto;
}

#usernameInput {
  padding: 10px;
}

button {
  all: unset;
  padding: 8px;
  background-color: hsl(207, 44%, 60%);
  color: aliceblue;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  opacity: 0.9;
}
#logoutBtn {
  background-color: tomato;
  padding: 8px 11px;
}
